@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f3f2;
  -webkit-overflow-scrolling: touch !important;
  -webkit-font-smoothing: antialiased;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.app {
  height: 100dvh;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  max-width: 700px;
  margin: 0 auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(90, 90, 90, 0.3) transparent;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-slides-z-index: 5;
  --tree-cotainer-z-index: 10;
  --tree-z-index: 15;
  --beaver-z-index: 20;
  --tree-base-z-index: 25;

  --tree-crown-width: 318px;
  --tree-crown-height: 388px;

  --tree-width: 90px;
  --tree-height: 128.2px;
  --tree-base-width: 142px;
  --tree-base-height: 143px;

  --tree-base-grass-width: 142px;
  --tree-base-grass-height: 143px;
}

#root {
  height: 100%;
}

.slides-container {
  transition: none;
}

.bg-slides {
  z-index: var(--bg-slides-z-index);

  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;

  .slide {
    opacity: 0;
    position: relative;

    height: 65%;
    width: 100%;
    background-color: #b2daff;
  }
}

.start-slide {
  position: relative;
  /* background-image: url("../../modules/common/assets/main-bg.png"),
    linear-gradient(360deg, #ffeca8 3.02%, #b2daff 100%); */
  /* background-image: linear-gradient(360deg, #ffeca8 3.02%, #b2daff 100%); */
  background-repeat: round;
}

.main-bg-image {
  opacity: 0;
}

.tree-container {
  z-index: var(--tree-cotainer-z-index);
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;

  .tree-crown {
    opacity: 0;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: var(--tree-crown-width);
    height: var(--tree-crown-height);
  }

  .tree-trunk {
    opacity: 0;

    z-index: var(--tree-z-index);
    background-color: #d59d6b;

    position: absolute;
    bottom: 0;
    width: var(--tree-width);

    left: 50%;
    transform: translateX(-50%);

    .beaver {
      z-index: var(--beaver-z-index);

      position: absolute;
      width: var(--tree-width);
      height: var(--tree-width);

      bottom: 0;
      left: 0;
      background-color: red;
      /* transition: all 0.1s; */
    }
  }

  .tree-chunks {
    & > img {
      opacity: 0;

      object-fit: fill;
      width: var(--tree-width);
      height: var(--tree-height);
    }
  }
}

.tree-base-grass {
  display: none;
  z-index: var(--tree-base-z-index);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: calc(var(--tree-base-grass-height) / 4 * -1); */

  width: var(--tree-base-grass-width);
  height: var(--tree-base-grass-height);

  background-image: url("../../modules/common/assets/tree/tree-grass.png");
  background-repeat: round;
}

.end-game-area {
  z-index: var(--tree-cotainer-z-index);
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  height: 100%;

  .tree-stump,
  .sitting-beaver,
  .bush {
    position: absolute;
  }
}

.points-progress-indicator {
  height: 100%;
  border-radius: 14px;
  -webkit-mask: linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0);
}

.points-progress-indicator::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #e25804 0%, #fce93c 100%);
}

.click-area {
  height: calc(100% - 84px);
}
