@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbfbfb;
  -webkit-overflow-scrolling: touch !important;
  -webkit-font-smoothing: antialiased;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.app {
  height: 100dvh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(90, 90, 90, 0.3) transparent;
}

:root {
  --bg-slides-z-index: 5;
  --tree-cotainer-z-index: 10;
  --beaver-z-index: 15;

  --tree-width: 90px;
  --tree-base-width: 142px;
}

#root {
  height: 100%;
}

.slides-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.bg-slides {
  z-index: var(--bg-slides-z-index);

  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;

  .slide {
    position: relative;

    height: 65%;
    width: 100%;
  }

  .slide-1 {
    background-color: #698b13;
  }

  .slide-2 {
    background-color: #13438b;
  }

  .slide-3 {
    background-color: #8b1383;
  }
}

.tree-container {
  z-index: var(--tree-cotainer-z-index);
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tree-crown {
    height: 388px;
    width: 318px;
    background-image: url("../common/assets/tree/tree-crown.png");
    background-size: cover;
  }

  .tree-trunk {
    background-image: url("../common/assets/tree/tree-trunk.png");
    background-position: 0% 100%;
    background-size: var(--tree-width);

    width: var(--tree-width);
    position: relative;

    .beaver {
      z-index: var(--beaver-z-index);

      position: absolute;
      width: var(--tree-width);
      height: var(--tree-width);
      bottom: 0;
      left: 0;
      background-color: red;
      transition: all 0.1s;
    }
  }

  .tree-base {
    width: var(--tree-base-width);
    height: 143px;
    background-size: contain;
    background-image: url("../common/assets/tree/tree-base.png");
  }
}

.to-right-jump {
  animation: to-right 0.1s ease-in-out;
  transform: translate(75%);
}

.to-left-jump {
  animation: to-left 0.1s ease-in-out;
  transform: translate(-50%);
}

@keyframes to-right {
  0% {
    transform: translate(-50%, 75%);
  }
  100% {
    transform: translate(75%);
  }
}

@keyframes to-left {
  0% {
    transform: translate(75%, 75%);
  }
  100% {
    transform: translate(-50%);
  }
}

@keyframes river {
  0% {
    background-color: aqua;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: aqua;
  }
}

@keyframes smoke {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
